{% extends 'base.html'%}

{% block title %}index{% endblock %}
{% block content %}<h1>Головна сторiнка</h1>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>A animi beatae culpa dolorum, officiis pariatur repellendus.</li>
    <li>Assumenda laboriosam magni nemo nihil provident reiciendis, rerum.</li>
    <li>Aspernatur cum fugiat inventore magni nisi, tempore totam?</li>
    <li>Dolores laborum mollitia recusandae sed vel? Doloribus, voluptatum!</li>
    <li>At cum eius exercitationem id magni molestias odit!</li>
    <li>Iure optio, totam! Facere placeat quaerat suscipit veritatis.</li>
    <li>Aliquid ducimus est et magnam quibusdam rem velit?</li>
    <li>Cupiditate fugiat nostrum nulla odit sint tempora ullam!</li>
    <li>Fugit necessitatibus nesciunt nobis possimus saepe. Nobis, vel!</li>
    <li>Consectetur cum id molestias nam quos, soluta voluptates.</li>
    <li>Distinctio dolor facilis fugit harum, quasi sapiente voluptate.</li>
    <li>Accusamus aspernatur deleniti ipsa numquam perspiciatis quisquam voluptates.</li>
    <li>Earum nulla, sapiente! Aperiam ducimus placeat qui repudiandae!</li>
    <li>Ea nisi placeat reiciendis. Ab expedita nisi sapiente?</li>
    <li>Dicta et odio officia quibusdam sit ut voluptatum.</li>
    <li>Error obcaecati odio recusandae vitae! Et magni, repellendus?</li>
    <li>Architecto cum, est laborum molestiae nesciunt numquam quod.</li>
    <li>Cum fugit, inventore laudantium molestiae repellendus sunt tempora?</li>
    <li>Cumque est et in labore perferendis quos, repellat.</li>
    <li>A accusamus, adipisci autem consectetur omnis quos voluptate?</li>
    <li>Ab aperiam beatae incidunt iusto non repellat, vero.</li>
    <li>Accusantium, dolores error facilis fugiat modi possimus sit!</li>
    <li>Ea, ex id quis ratione tempora tempore tenetur?</li>
    <li>Commodi delectus deserunt eum expedita id ipsa quidem.</li>
    <li>A dolore iusto omnis perspiciatis, praesentium sequi. Aspernatur.</li>
    <li>Ad dolor, dolore mollitia pariatur rem reprehenderit voluptates.</li>
    <li>Alias dolore itaque laboriosam quasi repellendus sunt veniam.</li>
    <li>Debitis harum quibusdam ratione repellendus similique tempora ut!</li>
    <li>Beatae blanditiis doloremque dolores ipsa minima nihil quas!</li>
    <li>Amet dignissimos inventore minus optio sapiente totam voluptas.</li>
    <li>A dicta inventore modi quisquam quod rem velit?</li>
    <li>Hic, nemo, officiis. Ab consectetur eligendi laborum quasi!</li>
    <li>Blanditiis, eaque expedita neque quam sequi sunt vel.</li>
    <li>Atque cumque doloribus facere ipsum laborum voluptates voluptatibus!</li>
    <li>Exercitationem iste perferendis possimus praesentium. Dolore illo, optio.</li>
    <li>Aliquid doloremque ea et quasi quos veritatis voluptatem!</li>
    <li>Hic iste neque nisi soluta, tenetur veniam veritatis!</li>
    <li>Consequatur cupiditate ex fugit natus provident quam reiciendis.</li>
    <li>Culpa doloribus ea non officiis provident ullam veritatis?</li>
    <li>Accusamus animi ea eum nobis officiis sed sunt?</li>
    <li>Cupiditate dolore harum, laudantium necessitatibus quaerat quis reprehenderit.</li>
    <li>Ad deserunt iste officiis? Consectetur non possimus rerum?</li>
    <li>Dolores enim iusto maxime porro possimus, recusandae vel!</li>
    <li>Aperiam eius excepturi nihil nulla reiciendis, rerum ullam!</li>
    <li>Ducimus nemo placeat possimus qui, ullam unde voluptate!</li>
    <li>Dolorum earum est iure laborum odio repellendus tempora.</li>
    <li>Aperiam cum explicabo, maiores molestiae repellat reprehenderit tempora.</li>
    <li>Delectus fugit, laudantium provident quaerat tenetur vero voluptatibus.</li>
    <li>Blanditiis distinctio ea ipsum necessitatibus nostrum quos, tenetur?</li>
    <li>Ab beatae cumque id, minima neque optio provident?</li>
    <li>Alias delectus dolor ipsam iste obcaecati odio voluptate.</li>
    <li>Blanditiis iste libero, nemo porro quas quis voluptates?</li>
    <li>Adipisci delectus dolorem iste itaque laboriosam modi nisi?</li>
    <li>Doloremque eius ex odit officia possimus, qui recusandae!</li>
    <li>Officiis quasi quibusdam reprehenderit sunt voluptas. Dolor, quam!</li>
    <li>Aliquam amet corporis distinctio facilis perspiciatis, unde voluptate!</li>
    <li>Beatae dicta eveniet ipsa maiores optio possimus voluptas.</li>
    <li>Accusamus architecto aut dignissimos iste, praesentium recusandae unde?</li>
    <li>Consectetur impedit laboriosam nobis provident tempora voluptas voluptatum!</li>
    <li>Beatae cumque cupiditate dolores quaerat quisquam sequi, tempore?</li>
    <li>Delectus incidunt, libero maiores perferendis qui ratione sequi?</li>
    <li>Ab amet animi laudantium magni maiores quia repudiandae.</li>
    <li>Delectus ducimus, expedita iure laudantium nam nisi sed.</li>
    <li>Accusantium corporis odio quis, reprehenderit soluta ullam voluptas?</li>
    <li>Deserunt dolorum enim, est porro quas suscipit voluptas?</li>
    <li>Aut fuga odio optio quos, tempora veritatis voluptatum.</li>
    <li>Aperiam aspernatur, assumenda impedit maxime officiis sapiente totam.</li>
    <li>Iure laboriosam nam officia possimus praesentium repudiandae tempore?</li>
    <li>Aperiam assumenda dolor error provident tempore velit vitae.</li>
{% endblock %}
